*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: #1f2937;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 12rem;
    background-color: #1f2937;
}

ul.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.nav__item > a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 1.125rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo__text {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#hero {
    background-color: #1f2937;
    padding: 8rem 12rem;
}

#hero > .container {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

#hero > .container > .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#hero h1 {
    font-size: 3rem;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

#hero p {
    font-size: 1.125rem;
    color: #e5e7eb;
    margin-top: 0;
}

#hero button {
    padding: 0.5rem 1.25rem;
    background-color: #3882f6;
    border: none;
    border-radius: 0.25rem;
    color: #e5e7eb;
    font-weight: bold;
    cursor: pointer;
}

#information {
    padding-inline: 16rem;
    padding-block-end: 4rem;
}

#information > .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#information h2 {
    font-size: 2.25rem;
    font-weight: 900;
    color: #1f2937;
    margin-block: 2rem;
}

#information .cards {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card > img {
    border-radius: 0.25rem;
    border: 2px solid #3882f6;
}

.card > p {
    margin-top: 0;
    font-size: 1rem;
    color: #4c5562;
    text-align: center;
}

#quote {
    background-color: #e5e7eb;
    padding: 8rem 16rem;
}

blockquote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

blockquote p {
    font-size: 2.25rem;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0.25rem;
}

blockquote cite {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #1f2937;
    align-self: flex-end;
    margin-right: 8rem;
}

#call-to-action {
    padding: 8rem 12rem;
}

#call-to-action > .container {
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
}

#call-to-action h2 {
    font-size: 1.5rem;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0;
}

#call-to-action p {
    font-size: 1.125rem;
    color: #e5e7eb;
    margin-top: 0;
}

#call-to-action button {
    padding: 0.5rem 1.5rem;
    background-color: #3882f6;
    border: solid 2px #f9faf8;
    border-radius: 0.25rem;
    color: #e5e7eb;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0.5rem;
}