*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: #1f2937;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
    background-color: #1f2937;
}

ul.nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.nav__item > a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 1.125rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo__text {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 1.5rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}